<div class="sidebar">
  <div class="sidebar-header">
    <a href="/home" class="brand">ExpenseWise</a>
  </div>
  <div class="sidebar-nav">
    <a href="/home" class="nav-item">
      Dashboard
    </a>
    <a href="/transaction" class="nav-item">
      Transaction
    </a>
    <a href="/transactionList" class="nav-item">
      Transaction List
    </a>
    <a href="/tag" class="nav-item">
      Tag
    </a>
  </div>
</div>